<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Layout</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header class="topNavigation">
      <button class="logout_b" type="button" name="logout">ログアウト</button></header>
    <main>
        <div class="sideNavigation">
          <button class="home_b" type="button" name="home">ホーム
          <input class="home_b_img" type="image" src=".\Image\home.png" alt="ホーム"></button>
          <button class="attendance_b" type="button" name="attendance">出席管理</button>
          <button class="student_b" type="button" name="student">生徒管理</button>
          <button class="teacher_b" type="button" name="teacher">教員管理</button>
          <button class="class_b" type="button" name="class">クラス管理</button>
          <button class="classwork_b" type="button" name="classwork">授業管理</button>
          <button class="classroom_b" type="button" name="classroom">教室管理</button>
          <button class="subject_b" type="button" name="subject">学科管理</button>
        </div>
        <div class="content">
            <div class="box1">
              <id="sideverA1">
        <ol class="topic-path">
        <li class="first">
        <li><a href="">ホーム</a>▷</li>
        <li><a href="">出席管理</a>▷</li>
        <li><a href="">生徒管理</a>▷</li>
        <li><a href="">教員管理</a>▷</li>
        <li><a href="">クラス管理</a>▷</li>
        <li><a href="">授業管理</a>▷</li>
        <li><a href="">教室管理</a>▷</li>
        <li><a href="">学科管理</a>▷</li>
        </ol>
          </div>
              <div class="box2">生徒管理
                <div class="buttonWrapper">
                  <button class="Registration_b" type="button" name="Registration">登録
                  <input class="Registration_b_img" type="image" src=".\Image\Registration.png" alt="登録"></button>
                <button class="graduate_b" type="button" name="graduate">卒業処理
                <input class="graduate_b_img" type="image" src=".\Image\Graduation.png" alt="卒業処理"></button></div>
              <div class="box3">
              <div class="box4"></div>
            </div>

  <table>
  <tr>
    <th>学籍番号</th>
    <th>姓</th>
    <th>学科</th>
    <th>コース</th>
    <th>状態</th>
    <th></th>
  </tr>
  <tr>
    <td>B1234</td>
    <td>あいう</td>
    <td>えお</td>
    <td>ITスペシャリスト</td>
    <td>総合情報メディア</td>
    <td>詳細</td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
  </tr>
  <tr>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
  </tr>
</table>
    </main>
</body>
