body{
  display: flex;
  flex-direction: column;
  margin: auto;
}
main{
  min-height: 100vh;
  display: flex;
}
.sideNavigation{
  width: 250px;
  text-align: center;
  background-color: #323232;
  color: #fff;
}
.content{
  flex: 1;
  background-color: #eee;
  text-align: center;
}
.box1{
  width: auto;
  height: 50px;
  background-color: #828282;
  border-style: solid;
  border-width: 1px;
  border-color: #646464;
}
.box2{
  width: auto;
  height: 60px;
  background-color: #828282;
  border-style: solid;
  border-width: 1px;
  border-color: #646464;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
.box3{
  width: auto;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-style: solid;
  border-color: #646464;
  border-radius: 10px;
}
.box4{
  width: auto;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  border-style: solid;
  border-color: #646464;
  border-radius: 10px;
}
.home_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 37px;
  color: #ffffff;
  outline: none;
}
.home_b_img{
  width: 45px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 20px;
}
.home_b:hover{
  background: #646464;
  color: white;
}
.attendance_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.attendance_b:hover{
  background: #646464;
  color: white;
}
.student_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.student_b:hover{
  background: #646464;
  color: white;
}
.teacher_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.teacher_b:hover{
  background: #646464;
  color: white;
}
.class_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.class_b:hover{
  background: #646464;
  color: white;
}
.classwork_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.classwork_b:hover{
  background: #646464;
  color: white;
}
.classroom_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.classroom_b:hover{
  background: #646464;
  color: white;
}
.subject_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
}
.subject_b:hover{
  background: #646464;
  color: white;
}
.buttonWrapper{
  display: block;
  position: relative;
  text-align: right;
  bottom: 45px;
}
.Registration_b{
  width: 140px;
  height: 60px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 37px;
  color: #ffffff;
  outline: none;
  text-align: right;
  border-radius: 10px;
}
.Registration_b_img{
  width: 45px;
  height: 40px;
  position: relative;
  bottom: 45px;
  right: 75px;
  outline: none;
}
.Registration_b:hover{
  background: #646464;
  color: white;
}
.graduate_b{
  width: 210px;
  height: 60px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 37px;
  color: #ffffff;
  outline: none;
  text-align: right;
  border-radius: 10px;
  margin-left: -9px;
}
.graduate_b_img{
  width: 45px;
  height: 40px;
  position: relative;
  bottom: 45px;
  right: 150px;
  outline: none;
}
.graduate_b:hover{
  background: #646464;
  color: white;
}
.logout_b{
  width: 180px;
  height: 50px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 30px;
  color: #ffffff;
  outline: none;
  border-radius: 10px;
}
.logout_b:hover{
  background: #646464;
  color: white;
}
table{
  width: 100%;
}
th{
  background-color: white;
  color: black;
  text-align: center;
}
th:first-child{
  border-right: 1px solid black;
}
td{
  background-color: white;
  color: black;
  text-align: left;
}
td:first-child{
  border-right: 1px solid black;
}
